body {
    margin: 0px;
    padding-top: 100px;
    /* Navbar fixed. Entonces el body debe bajar para que no se suporpongan */
    background-color: #1866661f !important;
    /* !important para darle prioridad antes que los que vienen por default por Bootstrap */
}

/* Container dentro primer navbar */
.container {
    margin: 0;
}

/* Etiqueta a del primer navbar */
.container a {
    font-size: 11px;
    padding: 0;
}

/* Primer navbar */
#navbar-top {
    padding: 0;
    height: 16px;
    background-color: #EEBCFE;
    color: #186666 !important;
}

/* Segundo navbar */
#navbar {
    background-color: #186666;
    color: white;
}

/* Titulo del segundo navbar */
#bsale {
    color: #EEBCFE;
}

/* Color del Productos */
#home {
    color: white;
}

/* Etiquetas <a> de Home y de los li que están dentro del segundo navbar */
#home,
.dropdown-item {
    cursor: pointer;
}

/* Titlo de los productos */
.card-title{
    font-size: 14px;
}